
.ProductData{
  width: 100%;
}

.ProductTitle{
  font-size: 45px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px;
  /* font-family: 'Source Sans Pro', sans-serif; */
}

.ProductDescription{
  font-size: 18px;
  color: rgba(0, 0, 0 ,0.8);
  margin-top: 0;
  margin-bottom: 16px;
}

.SectionHeading{
  font-size: 24px;
  margin-bottom: 8px;
}

.ProductImage{
  width: 100%;
  max-width: 80px;

  border: 2px solid transparent;
  border-radius: 8px;
  margin-right: 10px;

  cursor: pointer;
}

.SelectedProductImage{
  border: 2px solid darkgray;
}

.FeatureItem{
  box-sizing: content-box;
  min-width: 75px;
  padding: 12px 24px;
  margin-right: 10px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;  
  text-align: center;

  font-weight: 600;
  background-color: rgba(236, 232, 232, 0.815);
}

.SelectedFeatureItem{
  color: white;
  background-color: rgb(165, 163, 163);
}

.PrimaryButton{
  margin-top: 32px;
  padding: 12px 24px;
  border: 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.863);
  background-color: rgb(180, 211, 253);
}