.ProductPreview{
  width: 100%;
  position: relative;
}

.ProductPreview > img {
  width: 100%;
}

.FeatureData{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  font-size: 32px;
  font-weight: 600;
}

.TimeSection{
  color: white;
}

.HeartBeatsSection{
  color: whitesmoke;
}
.HeartBeatsSection > i {
  color: red;
  animation: beat 1s infinite;
}
.HeartBeatsSection > p {
  margin-top: 16px;
}

@keyframes beat{
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}
